.innerPV{
  background-color: #FFFFFF; /* color 255 */
}

.pageView {
  width:100%;
  background-color: #FFFFFF; /* color 255 */
}

#innerdocbody {
  line-height: 20px;
}

#innerdocbody > div {
  padding-left: 118px;
}

/*
 * make the comment container white as well. We need to force it to take
 * precedence over the "body.greydout" rule from Etherpad
 *
*/
body.outerBackground{
  background-color: #FFFFFF !important; /* color 255 */
}

/* add top margin to the editor */
#innerdocbody, #sidediv {
  min-height: 1500px;
  padding-top: 77px;
}

/* remove border to make ace_inner have the full width */
#sidediv {
  border-right: 0;
}

/* scroll bar styles */
::-webkit-scrollbar {
  width: 8px;
  border-style: solid;
  border-width: 0 5px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

::-webkit-scrollbar-button:increment:end,
::-webkit-scrollbar-button:decrement:start {
  display: block;
  height: 10px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-color: #FFFFFF;
}
::-webkit-scrollbar-button:decrement:start {
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
::-webkit-scrollbar-button:increment:end {
  border-top-width: 10px;
  border-top-style: solid;
}
::-webkit-scrollbar-thumb {
  border-width: 0 1px;
  border-style: solid;

  background-color: #D8D9DC;
  border-color: #FFFFFF;
}

/*
XXX: This style in only applied on the Editor when it is running without the
Teksto Wrapper.
on the Teksto manager we use a fixed width of 795px, to make the general to
have 61 characters when it is running Etherpad alone we have to fix the width
at 720px
*/
@media (min-width: 800px) {
  #innerdocbody {
    max-width: 720px;
  }
}
