/* BUGFIX: we cannot have multiple counter-resets on the code. So this command was moved to
           src/static/custom/pad.css with the other counter-resets, so we ensure all counters
           are correctly created and reset.
body{
  counter-reset: page 1;
}
*/

.innerPV{
  background-color:#fff;
}

.pageView {
  width:100%;
  margin-left:0px;
  height:12px;
  background-color:#fff;
  margin-top:0px;
  margin-bottom:0px;
}

.lineNumbersAndPageView{
  padding-right:12px !important;
}


/* For LESS THAN 641px wide */
@media (max-width : 640px) {
  #innerdocbody{
    padding-top:0px !important;
    margin-left:0px !important;
  }
  #sidediv{
    padding-right:4px !important
  }
}

/* 444px ~ 61 chars/line */

/* If it is not possible to have any margin: */
@media (max-width : 463px) {
  #innerdocbody > div {
    margin-left: 0px !important;
    margin-right: 0px;
  }
}

/* This is the point where we hide page outline: */
@media (max-width : 691px) {
  #innerdocbody > div {
    margin-left:0px !important;
    margin-right:0px;
    max-width: 444px;
  }
  .outerBackground{
    width:100%;
  }

  .innerPV{
    border:none;
    box-shadow:none;
  }
}

/* If we have some space to have a right margin, but not
   enough for a left margin or to draw page outline: */
@media (min-width: 464px) and (max-width : 541px) {
  #innerdocbody > div {
    margin-left: 0px !important; /* right margin gets all available space */
    margin-right: calc(100% - 444px) !important;
  }
}

/* If we have some space to have both margins, but not
   enough to draw page outline: */
@media (min-width: 542px) and (max-width : 691px) {
  #innerdocbody > div {
    margin-left: 67px !important; /* left margin gets only enough to display scene number */
    margin-right: calc(100% - 511px) !important;
  }
}

/* For screens GREATER THAN 636px wide */
/* Note some browers are this pissy about this..  Chrome and FF respond at different sizes etc. */
@media (min-width : 636px) {

  #sidediv .pv{
    padding-right:12px;
  }

  .innerPVlineNumbers{
    border-radius: 0px 5px 0 0;
  }

  .outerPV{
    width:641px !important;
  }

/* Apparently not being used...
  .pageViewOn {
    width:641px;
    margin-left:-102px;
    height:40px;
    background-color:#f7f7f7;
    margin-top:77px;
    margin-bottom:77px;
  }
*/

  #innerdocbody.breakPages div splitPageBreak,
  #innerdocbody.breakPages div nonSplitPageBreak,
  #innerdocbody.breakPages div contdLine,
  #innerdocbody.breakPages div more,
  #innerdocbody.breakPages div contd {
    display: block;
  }

  #innerdocbody.breakPages div more:before,
  #innerdocbody.breakPages div contdLine.nonSplit,
  #innerdocbody.breakPages div contd:before,
  #innerdocbody.breakPages div contd:after {
    float: left; /* need this to not allow caret to be placed on element */
    cursor: default;
  }

  /* align with character left margin */
  #innerdocbody.breakPages div more:before,
  #innerdocbody.breakPages div contdLine {
    margin-left: 152px;
  }
  /* need this to move pad text down (and not be on the right of MORE/CONT'D) */
  #innerdocbody.breakPages div more:before {
    margin-right: 242px;
  }
  #innerdocbody.breakPages div contd:after {
    margin-right: 222px;
  }

  #innerdocbody.breakPages div contdLine {
    max-width: calc(100% - 16px + 222px);
    min-width: calc(100% - 16px);
    margin-right: -222px; /* CONT'D right margin */
  }
  #innerdocbody.breakPages div contdLine {
    /* define max & min width because available width for non-split page breaks is the full page width */
    /* 152px === character margin left; 16px === character margin right; -222px === CONT'D right margin */
    max-width: calc(100% - 152px - 16px + 222px);
    min-width: calc(100% - 152px - 16px);
  }

  #innerdocbody.breakPages div more:before {
    content: "(MORE)";
  }
  #innerdocbody.breakPages[lang=pt-br] div more:before {
    content: "(MAIS)";
  }

  #innerdocbody.breakPages div contd:before {
    content: attr(data-character);
    text-transform: uppercase;

    /* the following attributes are necessary to display ellipsis when character name is too long */
    max-width: calc(100% - 64px - 222px); /* 64px: CONT'D width; 222px: CONT'D right margin */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* override width because label in pt-br is shorter */
  #innerdocbody.breakPages[lang=pt-br] div contd:before {
    max-width: calc(100% - 58px - 222px);
  }

  #innerdocbody.breakPages div contd:after {
    content: "(CONT'D)";

    /* the following attributes are necessary to display ellipsis when character name is too long */
    width: 64px;
    text-align: right;
  }
  #innerdocbody.breakPages[lang=pt-br] div contd:after {
    content: "(CONT.)";

    /* override width because label in pt-br is shorter */
    width: 58px;
  }

  #innerdocbody.breakPages div splitPageBreak:before,
  #innerdocbody.breakPages div nonSplitPageBreak:before {
    content: "";
    width:641px;
    margin-right:-79px;
    height:40px;
    background-color:#f7f7f7;
    margin-top:77px;
    margin-bottom:77px;
    border-bottom:1px dotted #aaa;
    border-top:1px dotted #aaa;
    float: right;
    cursor: default;

    /* might be useful for printing: */
  /*  page-break-after: always;
    -webkit-region-break-inside: avoid;
  */
  }

  /* hide ")" from 1st half of split parenthetical: */
  #innerdocbody.breakPages div.firstHalf parenthetical:after {
    display: none;
  }
  /* hide "(" from 2nd half of split parenthetical: */
  #innerdocbody.breakPages div.firstHalf + div parenthetical:before {
    display: none;
  }

  /* page number: */
  #innerdocbody.breakPages div splitPageBreak:after,
  #innerdocbody.breakPages div nonSplitPageBreak:after {
    margin-top: -38px;
    margin-right: 4px;
    float: right;

    /* page numbering: */
    counter-increment: page;
    content: counter(page) ".";
  }

  .outerBackground{
    background-color:#f7f7f7 !important;
    width: 641px;
    margin:auto;
    border:none;
  }

  .innerPV{
    background-color:#fff;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    border-width: 1px 1px 0 1px;
    position: relative;
    box-shadow: 10px 20px 40px 20px #ddd;
    padding-right:0px !important;
    padding-top:77px !important;
    min-height:1500px;
  }

/* Apparently not being used...
  .innerPVDiv{
    margin-left:100px;
    margin-right:100px;
  }
*/
  #innerdocbody .innerPV{
    min-height:1500px;
    padding-top:77px !important;
  }

  #innerdocbody > div{
    margin-left:117px !important;
    margin-right:78px !important;
  }

  .pageBreakFullScreen{
    width:100%;
    height:1px;
  }

  .lineNumbersAndPageView{
    /* width:28px !important; */
    /* The above breaks ep_comments */
    border-radius: 5px 0 0 0;
    border: 1px solid #ccc;
    border-right:none !important;
    top: 7px !important;
    left: auto !important;
    padding-top: 77px !important;
  }

  .outerBackground{
    background-color:#6e6e !important;
  }

  #innerdocbody > div {
    margin-left:117px;
    margin-right:78px;
  }

}

