.innerPV{
  background-color:#fff;
}

.pageView {
  width:100%;
  margin-left:0px;
  height:12px;
  background-color:#fff;
  margin-top:0px;
  margin-bottom:0px;
}

.lineNumbersAndPageView{
  padding-right:12px !important;
}

/* For LESS THAN 641px wide */
@media (max-width : 640px) {
  #innerdocbody{
    padding-top:77px !important;
    margin-left:0px !important;
  }
  #sidediv{
    padding-right:4px !important
  }
}

/* 444px ~ 61 chars/line */

/* If it is not possible to have any margin: */
@media (max-width : 463px) {
  #innerdocbody > div {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* This is the point where we hide page outline: */
@media (max-width : 691px) {
  #innerdocbody > div {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 444px;
  }
  .outerBackground{
    width:100%;
  }

  .innerPV{
    border:none;
    box-shadow:none;
  }
}

/* If we have some space to have a right margin, but not
   enough for a left margin or to draw page outline: */
@media (min-width: 464px) and (max-width : 541px) {
  #innerdocbody > div {
    padding-left: 0px; /* right margin gets all available space */
    padding-right: calc(100% - 444px);
  }
}

/* If we have some space to have both margins, but not
   enough to draw page outline: */
@media (min-width: 542px) and (max-width : 691px) {
  #innerdocbody > div {
    padding-left: 77px; /* left margin gets only enough to display scene number and SM icon */
    padding-right: calc(100% - 521px); /* 444 + 77 (padding-left) */
  }
}

/* For screens GREATER THAN 636px wide */
/* Note some browers are this pissy about this..  Chrome and FF respond at different sizes etc. */
@media (min-width : 636px) {

  #sidediv .pv{
    padding-right:12px;
  }

  .innerPVlineNumbers{
    border-radius: 0px 5px 0 0;
  }

  .outerBackground{
    background-color:#f7f7f7 !important;
    width: 641px; /* this is overwritten by ep_comments */
    margin:auto;
    border:none;
  }

  .innerPV{
    background-color:#fff;
    border-width: 1px 1px 0 1px;
    position: relative;
    padding-right:0px !important;
    padding-top:77px !important;
    min-height:1500px;
  }

  #innerdocbody .innerPV{
    min-height:1500px;
    padding-top:77px !important;
  }

  #innerdocbody > div {
    padding-left: 117px; /* WARNING if you change this here, you need to change on fixSmallZooms.js too */
    padding-right: 78px; /* WARNING if you change this here, you need to change on fixSmallZooms.js too */
  }

  .lineNumbersAndPageView{
    /* width:28px !important; */
    /* The above breaks ep_comments */
    border-radius: 5px 0 0 0;
    border: 1px solid #ccc;
    border-right:none !important;
    top: 7px !important;
    left: auto !important;
    padding-top: 77px !important;
  }

  .outerBackground{
    background-color:#6e6e !important;
  }
}
