/* Etherpad does not set #linemetricsdiv with the same line-height as the editor, and we need
   this in order to calculate page breaks when zoom is not 100% */
#linemetricsdiv {
  line-height: 16px;
}

@media (min-width: 464px) {
  /* Removes top margin for elements after page breaks */
  div.aferPageBreak heading,
  div.aferPageBreak action,
  div.aferPageBreak character,
  div.aferPageBreak transition,
  div.aferPageBreak shot {
    margin-top: 0px;
  }

  /* Bug fix: remove margin between last line of script and first helper line used to re-calculate
     page breaks.
     This is necessary because first line is originally on top of a page (so without any margin),
     but when it is cloned it is added after a regular line (so it would have a margin) */
  div.cloned.cloned__first heading {
    margin-top: 0;
  }

  div splitPageBreak,
  div nonSplitPageBreak,
  div contdLine,
  div more,
  div contd {
    display: block;
  }

  div more:before,
  div contd:before,
  div contd:after {
    float: left; /* need this to not allow caret to be placed on element */
    cursor: default;
  }

  div contd:before {
    text-transform: uppercase;

    /* the following attributes are necessary to display ellipsis when character name is too long */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* WARNING this is set on fixSmallZooms.js
    max-width: calc(100% - 64px - 222px); */ /*64px: CONT'D width; 222px: CONT'D right margin */
  }
  div contd:after {
    /* the following attributes are necessary to display ellipsis when character name is too long */
    text-align: right;
    /* WARNING this is set on fixSmallZooms.js
    width: 64px;*/
  }

  /* [perf] do not build pseudo-elements while on paste */
  /* WARNING there are other styles for MORE and CONT'D dynamically set on fixSmallZooms.js */
  #innerdocbody:not(.pasting)             div more:before {
    content: "(MORE)";
  }
  #innerdocbody:not(.pasting)[lang=pt-br] div more:before {
    content: "(MAIS)";
  }
  #innerdocbody:not(.pasting)             div contd:before {
    content: attr(data-character);
  }
  #innerdocbody:not(.pasting)             div contd:after {
    content: "(CONT'D)";
  }
  #innerdocbody:not(.pasting)[lang=pt-br] div contd:after {
    content: "(CONT.)";
  }
  #innerdocbody:not(.pasting)             div splitPageBreak:before,
  #innerdocbody:not(.pasting)             div nonSplitPageBreak:before {
    content: "";
  }

  div splitPageBreak:before,
  div nonSplitPageBreak:before {
    margin-right:-128px;
    background-color:#f7f7f7;
    float: right;
    cursor: default;
    /* WARNING if any of these values is changed, you need to change div.beforePageBreak style and
       fixSmallZooms.js too */
    height:10px;
    margin-top:48px;
    margin-bottom:48px;
    border-bottom:1px dotted #aaa;
    border-top:1px dotted #aaa;

    /* WARNING page break width is not defined on CSS anymore due to an issue with small zooms.
               See fixSmallZooms.js for more details.
    width:641px;
    */

    /* might be useful for printing: */
  /*  page-break-after: always;
    -webkit-region-break-inside: avoid;
  */
  }

  /* leave room for page break on line at the end of the page */
  div.beforePageBreak {
    /* All values of calc are from page break */
    /* 10px: height; 48px: margin-top and margin-bottom; 1px: border-top and border-bottom;
       2px: Bug fix: some zoom values mess up with border (they don't have 1px), so we
       need an extra px to avoid messing up with pagination */
    padding-bottom: calc(10px + 48px + 48px + 1px + 1px + 2px);
  }

  /* hide ")" from 1st half of split parenthetical: */
  div.firstHalf parenthetical:after {
    content: ' ';
    margin-right: 0;
  }
  /* hide "(" from 2nd half of split parenthetical: */
  div.secondHalf parenthetical:before {
    content: ' ';
    margin-left: 0;
  }

  /* special style used on the calculation of split lines: hide both "()" of cloned parenthetical */
  /* FIXME do we still need this, after pagination algorithm is changed to not use cloned lines? */
/*
  div.clone parenthetical:after,
  div.clone parenthetical:before {
    content: ' ';
    margin-left: 0;
    margin-right: 0;
  }
*/

  /* page number: */
  div pagenumber {
    margin-top: -32px;
    margin-right: 4px;
    float: right;
  }
  /* [perf] do not build pseudo-elements while on paste */
  #innerdocbody:not(.pasting) div pagenumber:before {
    margin-right: 5px;
    content: attr(data-page-number) ".";
  }
  div calculating {
    float: right;
  }

  /* Animation for page number calculation. Based on .loadingAnimation from pad.css of Etherpad. */
  /* Selects all lines after line marked with lastPaginated class */
  div.lastPaginated ~ div calculating {
    -webkit-animation: loadingAnimation 2s infinite linear;
    animation: loadingAnimation 2s infinite linear;
    font-family: "fontawesome-etherpad";
    z-index:150;
  }

  /* [perf] do not build pseudo-elements while on paste */
  #innerdocbody:not(.pasting) div.lastPaginated ~ div calculating:before {
    content: "\e80e";
  }

  /* Prevent the last line from sticking on the bottom of the viewport.
     Useful for a smooth scrolling when editing last line. */
  #innerdocbody {
    padding-bottom: 40px;
  }
}

/*styles were taken from fixSmallZoom*/

@media (min-width : 464px) {
  .outerPV {
    width: 642px !important;
  }
}

@media (min-width : 464px) {
  #innerdocbody:not(.pasting) splitPageBreak:before,
  #innerdocbody:not(.pasting) nonSplitPageBreak:before {
    width: 692px !important;
  }
}

/* align with character left margin */
#innerdocbody:not(.pasting) more:before,
#innerdocbody:not(.pasting) contdLine {
  margin-left: 152px;
}

/* need this to move pad text down (and not be on the right of MORE/CONT'D) */
#innerdocbody:not(.pasting) more:before {
  margin-right: 242px;
}

/* need this to move pad text down (and not be on the right of MORE/CONT'D) */
#innerdocbody:not(.pasting) contd:after {
  margin-right: 222px;
}

/* make CONT'D and character name work together */
#innerdocbody:not(.pasting) contdLine {
  max-width: calc(100% - 152px - 16px + 222px);
  min-width: calc(100% - 152px - 16px);
  margin-right: -222px;
}

/* display ellipsis when character name is too long */
#innerdocbody:not(.pasting) contd:before {
  max-width: calc(100% - 64px - 222px);
}

/* override width because label in pt-br is shorter */
#innerdocbody:not(.pasting)[lang=pt-br] div contd:before {
  max-width: calc(100% - 58px - 222px);
}

/* leave room for page break on line at the end of the page */
#innerdocbody:not(.pasting) .beforePageBreak.withMoreAndContd {
  padding-bottom: 142px !important;
}
