<p>
    <input type="checkbox" id="options-pageview" checked></input>
</p>
<p>
    <input type="checkbox" id="options-pagination" checked></input>
    <label for="options-pagination" data-l10n-id="ep_script_page_view.pagination">Automatic pagination</label>
</p>
